.game-outcome {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.game-display {
    color: #80F;
    font-size: 2rem;
    text-align: center;
}

.indicator--blue.fa {
    color: blue;
}

.indicator--red.fa {
    color: red;
}

.indicator--orange.fa {
    color: orange;
}

.indicator--yellow.fa {
    color: gold;
}

.indicator--green.fa {
    color: green;
}

.indicator--cyan.fa {
    color: #00c8fa;
}